<% include partials/header %>

<div class="hero">
    <h1>Secure. Fast. Advance.</h1>
    <p>Vote for a change.</p>
    <a href="/loginUser" class="btn btn-large btn-primary">Vote Now</a>
</div>

<% include partials/footer %>